<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" maximum-scale="1.0" user-scalable="0">
    <title>Chatbot.</title>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.2.min.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/robot.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

<div class="container-fluid">
    <div class="row-cols-auto">
        <div class="main">
            <img src="{{ url_for('static', filename='img/logo.png') }}" width="320px" height="100px">
        </div>
    </div>

    <div class="row-cols-auto">
        <div class="col" id="content">
            <div class="col" id="response"></div>
        </div>
    </div>

     <div class="row" id="loading_frame">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="row-cols-auto">
        <div class="col textarea" id="input" contenteditable="true" onfocus="clear_input()">

        </div>
    </div>

    <div class="row-cols-auto" id="btn_group">
        <button class="btn btn-secondary" id="clear_btn" onclick="clear_history()" onmo>清 空</button>
        <button class="btn btn-secondary" id="send_btn" onclick="send()">发 送</button>
    </div>

    <div class="row-cols-auto" id="footer_frame">
        Copyright © 2022
        <a class="link-light" href="https://github.com/Fangnan700">Fang nan.</a>
        All rights reserved.
    </div>

</div>

</body>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>